//---------------------------------------------sections
.section {
	position: relative;

	width: 100%;

	font-size: 1rem;

	&.demo_mod {
		@extend %global_flex_block_row_nowrap_center_center;

		background-color: $black;

		text-align: center;
		color: $white;
		height: 100%;
	}

	&.main_mod {
		height: 100%;
		overflow: hidden;
	}
}

.section_block {
	position: relative;
	display: block;
	height: 100%;
	overflow: hidden;
}

.section_bg {
	z-index: -1;

	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	overflow: hidden;

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&.ocean_mod {
		background-image: url('../i/ocean.jpg');
	}

	&.desert_mod {
		background-image: url('../i/desert.jpg');
	}
}

.section_in {
	width: 100%;
	max-width: $page_width;
	margin: 0 auto;
}

.main_content {
	position: relative;
	height: 100%;
	z-index: 10;
}

.section_title {
	font-size: 6em;
	text-align: center;
	margin-top: 2em;
}

.section_text {
	font-size: 2em;
	text-align: center;
}