extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Title of the page'}
block content_block
	section.section.main_mod.js-main.ocean_mod(data-barba="wrapper")
		.section_block(data-barba="container" data-barba-namespace="home")
			.section_bg.ocean_mod
			.section_in
				h1.section_title INDEX PAGE
				p.section_text Index text Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dicta, maiores accusantium fugiat voluptas animi placeat id consectetur ipsam ipsa. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, quae? Veniam quisquam ad excepturi aliquid natus reiciendis atque rerum, corrupti libero voluptates quibusdam sapiente, nulla magnam culpa porro, a placeat? Cupiditate, voluptatum unde quidem laborum ratione saepe! Eaque temporibus assumenda, eveniet iure fugiat, aut iusto nobis sed placeat id esse rerum odio quidem vero molestias excepturi veritatis consequuntur harum rem maiores. Veniam expedita atque ex dolorem est sint itaque inventore eius ratione amet, praesentium veritatis fugiat voluptatum, libero nostrum, dolorum vel quam obcaecati temporibus. Placeat rem at quod explicabo, cumque, laborum similique non odit iusto autem error, animi corrupti nesciunt? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur iure quis voluptates aliquid illum ex! Ullam expedita esse a sint molestiae voluptas explicabo ratione laborum adipisci minima id ex, dolore eum maiores distinctio delectus at consequuntur ut fugiat consectetur dolores blanditiis quaerat ea. Explicabo nisi laboriosam laborum, dolorem error repellat cumque possimus quasi. Ex explicabo, officia eligendi odit, asperiores, repellat provident ducimus accusamus sint id et quam quo ea repellendus suscipit cupiditate! Iusto velit tenetur fuga vitae laborum qui ratione, impedit natus accusamus id quod debitis itaque est illo, molestiae blanditiis! Optio fugit ad qui voluptas iste? Saepe, quidem deleniti!