extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Title of the page'}
block content_block
	section.section.main_mod.js-main(data-barba="wrapper")
		.section_block(data-barba="container" data-barba-namespace="item")
			.section_bg.desert_mod
			.section_in
				h1.section_title ITEM
				p.section_text Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, rem aliquid. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos iusto animi unde officiis odio, amet doloribus ex explicabo magnam laudantium commodi omnis quidem, cumque, perspiciatis fugit voluptatibus. Pariatur a quam quasi molestiae, magnam fugit, impedit nobis excepturi error earum inventore.
